<!--
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>


<mat-card class="container">
    <mat-card-header>
        <mat-card-title>Kundan</mat-card-title>
</mat-card-header>
  <img mat-card-image src="../../../assets/logo.png" alt=""  class="matimage"> 
    <mat-card-content>
        <p>---------------</p>
    </mat-card-content>


</mat-card>

<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
 
-->

<!--

    <div>Some tags before</div>
  <owl-carousel-o [options]="customOptions">
 
    <ng-container *ngFor="let slide of slidesStore">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
      </ng-template>
    </ng-container>
 
  </owl-carousel-o>
  <div>Some tags after</div>

-->
<div class="container text-center">
<div class="latestMovie">Latest Launch </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <img src="../../../assets/pic4.jpg" alt="pic" class="imgcarousel">
    </ng-template>  
    <ng-template carouselSlide>
        <img src="../../../assets/pic11.jpg" alt="pic" class="imgcarousel">
    </ng-template>  
    <ng-template carouselSlide>
        <img src="../../../assets/pic3.jpg" alt="pic" class="imgcarousel">
    </ng-template> 
    <ng-template carouselSlide>
        <img src="../../../assets/pic8.jpg" alt="pic" class="imgcarousel">
    </ng-template>
        
  </owl-carousel-o>
  <!-- <div>Some tags after</div> -->
</div>
 
<!-- Card Alignment to display movie -->

<div class="cardContainer">
  <div class="card">
    <mat-card class="example-card">
    <!-- <mat-card-header class="example-header-image">
        <mat-card-title>Kundan</mat-card-title>
    </mat-card-header> -->
  <img mat-card-image src="../../../assets/logo.png" alt=""  class="matimage"> 
    <mat-card-content>
        <p>Movie Majja is a place where we can book tickets </p>
    </mat-card-content>
</mat-card>
</div>

<div class="card">
    <mat-card class="example-card">
    <!-- <mat-card-header class="example-header-image">
        <mat-card-title>Kundan</mat-card-title>
    </mat-card-header> -->
  <img mat-card-image src="../../../assets/logo.png" alt=""  class="matimage"> 
    <mat-card-content>
        <p>Movie Majja is a place where we can book tickets </p>
    </mat-card-content>
</mat-card>
</div>

<div class="card">
    <mat-card class="example-card">
    <!-- <mat-card-header class="example-header-image">
        <mat-card-title>Kundan</mat-card-title>
    </mat-card-header> -->
  <img mat-card-image src="../../../assets/logo.png" alt=""  class="matimage"> 
    <mat-card-content>
        <p>Movie Majja is a place where we can book tickets </p>
    </mat-card-content>
</mat-card>
</div>


<div class="card">
    <mat-card class="example-card">
    <!-- <mat-card-header class="example-header-image">
        <mat-card-title>Kundan</mat-card-title>
    </mat-card-header> -->
  <img mat-card-image src="../../../assets/logo.png" alt=""  class="matimage"> 
    <mat-card-content>
        <p>Movie Majja is a place where we can book tickets </p>
    </mat-card-content>
</mat-card>
</div>

<div class="card">
    <mat-card class="example-card">
    <!-- <mat-card-header class="example-header-image">
        <mat-card-title>Kundan</mat-card-title>
    </mat-card-header> -->
  <img mat-card-image src="../../../assets/logo.png" alt=""  class="matimage"> 
    <mat-card-content>
        <p>Movie Majja is a place where we can book tickets </p>
    </mat-card-content>
</mat-card>
</div>

<div class="card">
    <mat-card class="example-card">
    <!-- <mat-card-header class="example-header-image">
        <mat-card-title>Kundan</mat-card-title>
    </mat-card-header> -->
  <img mat-card-image src="../../../assets/logo.png" alt=""  class="matimage"> 
    <mat-card-content>
        <p>Movie Majja is a place where we can book tickets </p>
    </mat-card-content>
</mat-card>
</div>
</div>