<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 display">About Movie Majja</h1>
    <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->

    <div class="card" style="width: 60rem; height: 35rem;">
  <img src="../../../assets/logo.png" class="card-img-top" alt="..." class="image">
  <div class="card-body">
    <h2 class="card-title">Movie Majja</h2>
    <p class="card-text">Movie Majja is a place where you can find all the <strong> Movie Details</strong>. <br>
    It consist of upcoming movie details , latest movie details, trending movie details, popular movie . <br>
      This platform allow you to book movie ticket also . 
    </p>
   <p style="padding-left: 400px;"> <a href="#" class="btn btn-primary" >Home</a></p>
  </div>
</div>
  </div>
</div>