<div>
    <nav>
        <ul>
            <li><img src="../../../assets/d80321286525089fe6b5a5d4759d0efd.svg" alt="logo" class="logoimage"></li>
            <li><img src="../../../assets/logo.png" alt="" class="logoimage"></li>
            <li>
                <ul class="leftside">
                    <li><a class="#home" href="#home">Home</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#about">Location</a></li>

                    <li >
                        <select  class="selectopt" >
                             <option value="loc" *ngFor= 'let loc of city' ngstyle.backgroundcolor="green">{{loc |uppercase}}</option>
                        </select>
                    </li>
                    <li><a href="#contact">Login</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

