    <footer class="footer" style="background-color: lightblue;">
        <div class="container" style="padding-top: 25px;">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h4 class="link">Links</h4>
                    <ul class="list-unstyled">
                        <li class="nav-item"><a class="nav-link" href="./index.html"><span class="fa fa-home fa-lg"></span> Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-info fa-lg"></span> About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-list fa-lg"></span> Menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h4>Our Address</h4>
                    <address>
		              121, Katti Yelahanka  Road<br>
		              Clear Water Bay, Kowloon<br>
                      INDIA<br>
                      <i class="fa fa-phone fa-lg"></i> +91 9573235690<br>
                      <i class="fa fa-fax fa-lg"></i> +91 8734902388<br>
                      <i class="fa fa-envelope fa-lg"></i><a href="#"> moviemajja.com</a>
		           </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <div class="text-center">
                            <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                            <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                        </div>
    
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2020 Kundan Kumar</p>
                </div>
           </div>
        </div>
    </footer>
